<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>admin_log</servlet-name>
        <servlet-class>Storyboard.admin_log</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_reporter</servlet-name>
        <servlet-class>Storyboard.add_reporter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_news</servlet-name>
        <servlet-class>Storyboard.add_news</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin_log</servlet-name>
        <url-pattern>/admin_log</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_reporter</servlet-name>
        <url-pattern>/add_reporter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_news</servlet-name>
        <url-pattern>/add_news</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
